
<section>
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Congés</p>
    </div>
    <table class="table table-hover c1">
        <thead class="table-info">
            <tr>
              <!-- <th scope="col">Employé</th> -->
              <th scope="col">Type de Congé</th>
              <th scope="col">Depart</th>
              <th scope="col">Fin</th>
              <th scope="col">Nbre de jour</th>
              <th scope="col">Raison</th>
              <th scope="col">Statut</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr *ngFor="let conges of congesEmployes">
              <!-- <td> -->
                  <!-- <p>{{conges.nom}}</p> -->
              <!-- </td> -->
              <td>{{conges.type}}</td>
              <td>{{conges.datedep}}</td>
              <td>{{conges.datefin}}</td>
              <td>{{conges.nombre}}</td>
              <td>{{conges.raison}}</td>
              <td>{{conges.statut}}</td>
              <td>{{conges.action}}</td>
            </tr>
          </tbody>
    </table>
</section>