<app-welcome></app-welcome>
<section *ngIf="authService.isAdmin()">
    <div class="cla_em">
        <p class="nom_em"><span>PSE</span>TIME / Groupe</p>
    </div>
    <button class="cl1 b1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter Groupe</button>
    <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-title">Créer un Groupe</p>
        <form>
          <div class="div-modal col-md-12">
            <label for="validationCustom01" class="form-label">Nom du groupe</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="div-modal col-md-12">
            <label for="validationCustom01" class="form-label">Heure d'arrivée</label>
            <input type="time" class="form-control" required>
          </div>
          <div class="div-modal col-md-12">
            <label for="validationCustom01" class="form-label">Heure de depart</label>
            <input type="time" class="form-control" required>
          </div>
          <!-- <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Date de Debut de Congés</label>
            <input type="date" class="form-control" required>
          </div>
          <div class="div-modal col-md-6">
            <label for="validationCustom01" class="form-label">Date de fin de Congés</label>
            <input type="date" class="form-control" required>
          </div> -->
          <!-- <div class="div-modal col-md-6">
            <label class="form-label">Type de conges</label>
            <input class="form-control" list="datalist" placeholder="Poste" required>
                <datalist id="datalist">
                  <option value="Maladie">
                  <option value="Annuel">
                  <option value="Deuil">
                </datalist>
          </div> -->
          <button type="button" class="btn btn-primary ajt">Ajouter</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover c1">
  <thead class="table-info">
      <tr>
        <th>ID</th>
        <th>Nom du Groupe</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr *ngFor="let tableau of tableaugroupe">
        <td scope="row">{{tableau.id}}</td>
        <td data-bs-toggle="modal" data-bs-target="#exampleMod">{{tableau.name}}</td>
        <td>...</td>
      </tr>
    </tbody>
</table>



    <div class="modal fade" id="exampleMod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" *ngFor="let tab of tableau">
            <p class="modal-title">Nom du Groupe</p>
    
              <div class="col-md-12 coltext txtr">
                <p>Heure D'arrivée : <b>{{tab.arriv}}</b></p>
                <p>Heure De Depart : <b>{{tab.depart}}</b></p>
                <p>Temps à éffectué : <b>{{tab.temps}}</b></p>
              </div>
              <!-- <div class="col-md-6 coltext pts">
                <p>Date de Debut de Congés : <b>{{tab.deconges}}</b></p>
                <p>Date de Fin de Congés : <b>{{tab.finconges}}</b></p>
            </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</section>
<app-groupe-employe *ngIf="authService.isEmploye()"></app-groupe-employe>