<app-welcome></app-welcome>
<section>
  <div class="cla_em">
    <p class="nom_em"><span>PSE</span>TIME / Jour Ferier</p>
  </div>
  <button class="cl1 b1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="authService.isAdmin()" >Ajouter Jour Ferier</button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="modal-title">Ajouter Jour Férié</p>
    <form>
      <div class="div-modal">
        <label for="validationCustom01" class="form-label">Titre</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="div-modal">
        <label class="form-label">Date</label>
        <input type="date" class="form-control" required>
      </div>
      <div class="div-modal">
        <label for="validationCustom01" class="form-label">jour</label>
        <input type="date" class="form-control" required>
      </div>
      
      <button type="button" class="btn btn-primary ajt">Ajouter</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
  
  <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z10 vg cl1">

    <ng-container matColumnDef="id">
      <mat-header-cell class="mat-header-cell" *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="titre">
      <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.titre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="jour">
      <mat-header-cell *matHeaderCellDef> Jour </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.jour}} </mat-cell>
    </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.action}} </mat-cell>
      </ng-container>
      -->
  
  
  
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->
  <table class="table table-hover c1">
    <thead class="table-info">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titre</th>
          <th scope="col">Date</th>
          <th scope="col">Jour</th>
          <th *ngIf="authService.isAdmin()">Action</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr *ngFor="let conges of ferierEmploye">
          <td>{{conges.id}}</td>
          <td>{{conges.titre}}</td>
          <td>{{conges.datedep}}</td>
          <td>{{conges.jour}}</td>
          <td *ngIf="authService.isAdmin()">{{conges.action}}</td>
        </tr>
      </tbody>
</table>
  
</section>
<!-- id: "1",
      titre: "Nouvel An",
      datedep: "1 janvier 2020",
      jour: "Mercredi",
      action: "" -->